# puzzle prompt: https://adventofcode.com/<YEAR>/day/<DAY>

from ...base import TextSolution, answer


class Solution(TextSolution):
    _year = <YEAR>
    _day = <DAY>

    # @answer(1234)
    def part_1(self) -> int | str:
        return 0

    # @answer(1234)
    def part_2(self) -> int | str:
        return 0

    # @answer((1234, 5678))
    # def solve(self) -> tuple[int | str, int | str]:
    #     return (0, 0)
